.activeDiv {

  width: 100%;
  height: auto;
}
b.activeDiv {
  margin: auto;
  width: 100%;
}
.firstparent {
  width: 100%;

}
.Cardheader {
  width: 100%;

}

.firstchild {
  display: flex;
  width: 100%;
  justify-content: space-between;

  height: 3rem;
  overflow: hidden;
}

.sidebyside2 {

  display: flex;
  margin-top: 20px;
  width: 100%;
}

.sidebyside2_firstchild {

  width: 100%;
}



.h1tag {
  padding: 10px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  background-color: lightgray;
}

p {
  padding: 5px;
}

.card:hover {
  background-color: rgb(194, 194, 194);
  transition: 0.5s;
}

@media only screen and (min-width: 769px) and (max-width: 1080px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .sidebyside2 {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  .sidebyside2_secondchild {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sidebyside2 {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 319px) {
  .sidebyside2 {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
}
