.ExploreMain {
  display: grid;
}

.ExploreDiv {
  display: grid;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 1rem;
 
}

.ExploreDiv2 {
  display: grid;
  justify-content: center;
  margin-bottom: 1rem;

}

.ExploreDivImg {
  width: 650px;
  height: 400px;
}

.ExploreDivImg2 {
  width: 400px;
  height: 550px;
}

.Exploreh1 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0.3rem;
}



.pickup{
  position: absolute;
  top: 45%;
  left: 36%;
 
}

.childcontainer
{
   position: relative;
   
}
.topcontent{

    position: absolute;
    top: 5%;
    left: 13%;
   
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 20px;
    right:12%
}

.topheading{
  
    font-size: 34px;
    font-weight: 600;
    line-height: 1.29;
    text-align: center;
  
}







@media only screen and (min-width: 768px) and (max-width: 1110px) {
  .ExploreDivImg {
    width: 650px;
    height: 400px;
  }
  .ExploreDivImg2 {
    width: 400px;
    height: 550px;
  }
  .topcontent{

    position: absolute;
    top: 5%;
    left: 17%;

    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 20px;
    right:10%
}
.topheading{
  
  font-size: 34px;
  font-weight: 600;
  line-height: 1.29;
  text-align: center;

}
.pickup{
  position: absolute;
  top: 45%;
  left: 28%;
 
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ExploreDivImg {
    width: 200px;
    height: 200px;
  }
  .ExploreDivImg2 {
    width: 400px;
    height: 550px;
  }
  .topcontent{

    position: absolute;
    top: 5%;
    left: 17%;

    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 20px;
    right:10%
}
.topheading{
  
  font-size: 34px;
  font-weight: 600;
  line-height: 1.29;
  text-align: center;

}
.pickup{
  position: absolute;
  top: 35%;
  left: 16%;
  
}
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .ExploreDivImg {
    width: 450px;
    height: 300px;
  }
  .ExploreDivImg2 {
    width: 400px;
    height: 550px;
  }
  .topcontent{

    position: absolute;
    top: 5%;
    left: 17%;

    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 20px;
    right:10%
}
.topheading{
  
  font-size: 34px;
  font-weight: 600;
  line-height: 1.29;
  text-align: center;

}
.pickup{
  position: absolute;
  top: 8%;
  left: 48%;
  width:10px;

}
}

@media only screen and (max-width: 320px) {
  .ExploreDivImg {
    width: 300px;
    height: 200px;
  }
  .ExploreDivImg2 {
    width: 400px;
    height: 550px;
  }
  .topcontent{

    position: absolute;
    top: 2%;
    left: 7%;

    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 5px;
 right:7%
}
.topheading{
  
  font-size: 4px;
  font-weight: 50;
  line-height: 1;
  text-align: center;


}

.pickup{
  position: absolute;
  top: 8%;
  left: 48%;
  width:10px;

}
}
