.sucDiv{
    padding: 2rem 0;
}

.sucDiv>div:first-child{
    margin: auto;

    width: 300px;
    height: 130px;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.sucDiv>div:first-child>img{
    width: 100%;
    height: 100%;
}

.sucDiv>div:first-child+h1{
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: green;
    padding: 5px;
    
}



.sucDiv>div:first-child+h1+div{
    margin: auto;
 
    width: 500px;
   
    
  
    
}

