@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;350;400;450;500;550;600;650;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.WalletMainContainer {
  padding: 1rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
