@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;350;400;450;500;550;600;650;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.WalletMainContainer {
  padding: 1rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.creditButton {
  padding: 10px 40px;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.creditButton:hover {
  transition: 0.3s;
  background-color: #10a310;
  color: white;
}

.CreditMaindiv {
  background-color: white;
  color: black;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px;
  margin-top: 5px;
}

.CreditMaindivSecond {
  display: block;
  justify-content: space-between;
  margin-top: 20px;
}

.BankingParent {
  background-color: white;
  display: block;
}

.CreditSecondH1 {
  font-weight: 600;
  font-size: 25px;
}

.CreditSecondDiv {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 90%;
  margin-top: 1rem;
}
.CreditFirstInputBox {
  border: 1px solid grey;
  height: 60px;
  width: 90%;
  padding: 10px;
}

.CreditFirstInputBox2 {
  border: 1px solid grey;
  height: 60px;
  width: 80%;
  padding: 10px;
}

.CreditFirstInputBox3 {
  border: 1px solid grey;
  height: 60px;
  width: 80%;
  padding: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 1080px) {
  .CreditFirstInputBox {
    height: 50px;
    width: 100%;
    padding: 10px;
  }
  .CreditSecondDiv {
    display: block;
    width: 100%;
  }
  .CreditFirstInputBox2 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }

  .CreditFirstInputBox3 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .CreditFirstInputBox {
    height: 50px;
    width: 100%;
    padding: 10px;
  }
  .CreditSecondDiv {
    display: block;
    width: 100%;
  }
  .CreditFirstInputBox2 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }

  .CreditFirstInputBox3 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .CreditFirstInputBox {
    height: 50px;
    width: 100%;
    padding: 10px;
  }
  .CreditSecondDiv {
    display: block;
    width: 100%;
  }
  .CreditFirstInputBox2 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }

  .CreditFirstInputBox3 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 319px) {
  .CreditFirstInputBox {
    height: 50px;
    width: 100%;
    padding: 10px;
  }
  .CreditSecondDiv {
    display: block;
    width: 100%;
  }
  .CreditFirstInputBox2 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }

  .CreditFirstInputBox3 {
    border: 1px solid grey;
    height: 50px;
    width: 50%;
    padding: 10px;
  }
}
